/* here you can put your own css to customize and override the theme */
/*counter section css*/
/*counter section css*/
.counter{
    background: url(../../images/counterbg.jpg) no-repeat top center;
    background-size: cover;
}
.counter .main_counter_area{}
.counter .main_counter_area{
    padding:80px 20px;
}
.counter .main_counter_area .single_counter{}
.counter .main_counter_area .single_counter .single_counter_item{

}

.counter .main_counter_area .single_counter h2{
    color:#fff;
    font-size:2.8125rem;
}
.counter .main_counter_area .single_counter i{
    color:#ff7200;
    font-size:1.875rem;
    display: inline-block;
    margin-top:20px;
}
.counter .main_counter_area .single_counter p{
    color:#fff;
    font-size:0.8125rem;
	
}

.modal-backdrop.in {
	opacity: 0.7;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}



/*student speak*/
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;


}
.item blockquote p:after{
	content: "\f10e";
    font-family: 'Fontawesome';
    float: right;
    margin-right: 10px;
}
.shimmer {
	color: #CACACA;
    font-size: 1.6em;
    text-shadow: none;
    margin-top: 30px;
	
}
.shimmer {
  
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#C8C7D7), to(#C8C7D7), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#C8C7D7), to(#C8C7D7), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#C8C7D7), to(#C8C7D7), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #C8C7D7;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}





.flip-container, .front, .back {
  width: 220px;
  height: 220px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flip-container {
  float: left;
  margin: 5px;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flip-container:hover, .flip-container.hover {
  z-index: 2;
}

.up-bottom:hover .front, .up-bottom.hover .front {
  -o-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.up-bottom:hover .back, .up-bottom.hover .back {
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.up-bottom .back {
  -o-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.left-right:hover .front, .left-right.hover .front {
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.left-right:hover .back, .left-right.hover .back {
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.left-right .back {
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border: solid 2px #000;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.front {
  z-index: 2;
}
.front::after {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
}

.back {
  padding: 20px;
  text-align: center;
}
.back::after {
  width: 220px;
  height: 220px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.66);
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
.back.still::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.description, .price {
  z-index: 99;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.description {
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto 98px;
  font-size: 20px;
}

.actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px auto;
}

.detail, .cart {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  position: relative;
  z-index: 999;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Cambay', sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px #888;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
.detail:hover, .cart:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.detail {
  width: 90px;
  font-size: 20px;
  font-weight: 700;
}

.cart {
  width: 50px;
}
.cart svg {
  margin: 5px 0 0 -2px;
}
.cart use {
  fill: #fff;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
.cart:hover use {
  fill: #000;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.pin {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 99;
  cursor: pointer;
}
.pin use {
  fill: #888;
  -moz-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.pin:hover use {
  fill: #f2f2f2;
  -moz-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.product-1 .front {
  background: url("http://emper.cz/img/owl/01_1.jpg");
}

.product-1 .back {
  background: url("http://emper.cz/img/owl/01_2.jpg");
}

.product-2 .front {
  background: url("http://emper.cz/img/owl/02_1.jpg");
}

.product-2 .back {
  background: url("http://emper.cz/img/owl/02_2.jpg");
}

.product-3 .front {
  background: url("http://emper.cz/img/owl/03_1.jpg");
}

.product-3 .back {
  background: url("http://emper.cz/img/owl/03_2.jpg");
}

.product-4 .front {
  background: url("http://emper.cz/img/owl/04_1.jpg");
}

.product-4 .back {
  background: url("http://emper.cz/img/owl/04_2.jpg");
}

.product-5 .front {
  background: url("http://emper.cz/img/owl/05_1.jpg");
}

.product-5 .back {
  background: url("http://emper.cz/img/owl/05_2.jpg");
}

.product-6 .front {
  background: url("http://emper.cz/img/owl/06_1.jpg");
}

.product-6 .back {
  background: url("http://emper.cz/img/owl/06_2.jpg");
}

.owl {
  clear: both;
  padding: 7px;
  line-height: 1.4em;
  color: #aaa;
  text-shadow: 1px 2px 2px #111;
}
.owl a {
  text-decoration: none;
  color: #fff;
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}
.owl a:hover {
  color: #b33;
}
.owl p {
  margin-bottom: 6px;
}